<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width"> <!respansivo-->
    <title>Suduko</title>
    <link rel="stylesheet" type="text/css"  href="assests/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,500&display=swap" rel="stylesheet">
    <script src="Sudoko.js"></script>
</head>
<body>
    <div id="table"></div>
    <div><script>print_suduko(suduko2)</script></div>

</body>
</html>