.board{
    width: 50%;
    height: 50%;
    margin: auto;
}

.sudoku{
    vertical-align: middle;
    margin: auto;
    align-items: center;
    width: 90vmin;
    height: 90vmin;
    background-color: #000000;  
}

.numero{
    line-height: 9vmin;
    font-size: 6vmin;
    margin: 0 1px 1px 0;
    padding: 0;
    width: 9vmin;
    height: 9vmin;
    background-color: #ffffff;
}

.numero:nth-child(3n) {
    margin-right: 1vmin;
}

.numero:nth-child(27n) {
    margin-bottom: 1vmin;
}

.buttons{
    margin-top: 20px;
    margin-left: 150px;   
}